{% extends "blog/base.html" %}
{% block content %}
    <h3>Notifications</h3>
    {% if results %}
    {% for comment in results %}
        <article class="media content-section">
            <div style="width: 100%; word-break: break-all;" class="hovered-tweet-comment-in">
            <div class="pb-2 row m-0" style="width: 100%; margin-right: 0 !important;">
            <div
                    style="padding-left: 0px !important;"
                    class="col-8 no-padding d-flex align-items-center">
                <img
                    class="rounded-circle mr-2"
                    style="width: 20px; height: 20px;"
                    src="{{ comment.author.profile.image.url }}">
                <a class="mr-2 white-important" href="{% url 'user-posts' comment.author.username %}">
                    {{ comment.author }}
                </a>
            </div>
        </div>
            <div
                    class="mb-2"
                    style="width: 100%; height: 1px; background-color: rgba(255, 255, 255, 0.1)"></div>
            <a style="color: rgba(255, 255, 255, 0.5) !important;" href="{% url 'post-detail' comment.post_connected.id %}">
                <p>
                    {{ comment.content }}
                </p>

                <small
                    class="white-important d-flex full-width flex-row-reverse">
                    {{ comment.date_posted | date:"H:i l, d.m.y" }}
                </small>
            </a>
        </div>
        </article>
    {% endfor %}
    {% else %}
        <p>No notifications so far! Make a new post or write a comment to interact with the community!</p>
    {% endif %}
{% endblock content %}

